.event-form input[type="radio"] { 
  display:none; 
}

.form-group input[type="submit"],
.form-group input[type="password"],
.form-group label.btn, 
.form-group input[type="submit"],
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group select,
.big-button {
  font-size: 1.8em;
  height:auto;
}

.event-form select {
  height: 50px;
`}

h3 span {
  color: #AAA;
  font-weight: normal;
}

.red {
  color: red;
  font-weight: bold;
}

.footer {
  font-size: 0.85em;
  padding: 20px 0 20px 0;
  margin: 20px 0 0;
  color: #555;
}

.footer a {
  color: #555
}
