<div class="row">
  <div class="col-sm-12">
    <h3>Update Timezone</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form class="event-form" method="POST" action="/users/edit">
      <input class="hidden" name="_method" value="PATCH">
      <div class="form-group">
          <select class="form-control" name="user[timezone]">
          <% User.timezones.each do |tz| %>
            <option <%= "selected='selected'" if @current_user.timezone == tz %> value="<%= tz%>"><%= tz %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <input class="btn btn-primary form-control" type="submit" value="Update">
      </div>
  </div>
</div>
