<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Your Babies</h3>
  </div>
</div>
<% if @message %>
  <div class="row">
    <div class="col-sm-12">
      <p class="alert alert-success"><%= @message %></p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <% if @babies %>
      <% @babies.each do |baby| %>
        <p>
          <a href="/babies/<%= baby.id %>"><button type="button" class="form-control btn btn-primary big-button">Baby <%= baby.name.capitalize %></button></a>
        </p>
      <% end %>
    <% else %>
      <p>You have no babies registered.</p>
    <% end %>
    <p>
      <a href="/babies/new"><button type="button" class="form-control btn btn-primary big-button">Add a new baby</button></a>
    </p>
  </div>
</div>
