<div class="row">
  <div class="col-sm-12">
    <h3>Add a baby</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form method="POST" action="/babies">
      <div class="form-group <%= has_error? @baby, :name %>">
        <label for="name" class="control-label">Baby's Name</label>
        <input id="name" class="form-control" type="text" name="baby[name]" value="<%= has_content?(@baby, :name) %>">
        <% if has_error? @baby, :name %>
          <span class="help-block"><%= @baby.errors[:name].first.capitalize %></span>
        <% end %>
      </div>
      <div class="form-group">
        <input class="form-control btn-primary" type="submit" value="Add My Baby">
      </div>
    </form>
  </div>
</div>
