<div class="row footer">
  <div class="col-sm-12 text-center">
    <p><a href="http://www.github.com/gnfisher/sinatra-babies">Github</a> | <a href="http://gnfisher.com">Gnfisher</a></p>
  </div>
</div>
