<a href="/babies/<%= @baby.id %>/events<%= params[:days_ago].to_i > 2 ? "/#{params[:days_ago].to_i - 1}" : "" %>">
  <button class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous</button>
</a>
