<div class="jumbotron">
  <h1>Track your baby's first days!</h1>
  <p class="lead">Sinatra Babies lets you register your baby and keep track of when the sleep, when they eat, when they poop, and more. The site is designed to work easily on your smartphone and be fast to use with simply touches.</p>
  <p class="text-center"><a class="btn btn-lg btn-primary" href="/users/new" role="button">Sign up today</a></p>
  <p class="text-center">Already signed up? <a href="/users/login">Login</a></p>
</div>
